In [1]:
# mieyhgnaj set ü§™

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set_style("white")

import missingno as msno
import plotly.express as px
from matplotlib import cm
from matplotlib import style
from matplotlib import font_manager
from matplotlib import rc

rc('font', family='Arial Unicode MS')

import warnings
warnings.filterwarnings("ignore")

## üöô `ÌÉÄÍπÉ Ïª¨ÎüºÏùÑ Ï†úÏô∏Ìïú Ïª¨ÎüºÏùÄ SOCAR Ï∏°Ïùò ÏöîÏ≤≠ÎåÄÎ°ú ÎπÑÍ≥µÍ∞ú Ï≤òÎ¶¨!`

In [1]:
socar_raw = pd.read_csv('datas/socar_raw.csv', index_col=0)
socar_raw

,fraud_YN,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x15,x16,x17,x18,x19,x20,x21,x22,x23,x24
0,0,2,1,3,0,2,0,100,2,0,...,0,1,0,0,1,0,0,0,-1,0
1,0,1,0,4,0,4,0,0,3,1,...,0,1,1,1,2,1,1,1,0,1
2,0,1,0,4,1,4,0,100,3,1,...,12925040,3,1,0,2,1,1,1,0,1
3,0,3,1,3,0,4,0,0,2,0,...,0,3,1,0,1,0,0,0,-1,0
4,0,1,0,1,0,1,0,100,1,0,...,1209410,1,0,0,2,0,0,0,-1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,0,2,0,2,0,2,0,100,2,0,...,0,1,1,0,1,0,0,0,-1,0
15996,0,2,0,2,1,4,0,100,1,1,...,0,2,1,0,1,0,0,0,-1,0
15997,0,2,1,2,0,4,0,100,1,0,...,0,0,0,0,1,0,0,0,-1,1
15998,0,2,0,2,0,2,0,100,2,0,...,0,4,1,0,1,0,0,0,-1,0
15999,0,2,0,2,0,1,0,100,1,0,...,1188750,2,0,0,1,0,0,0,-1,0

# ü§™ negative values Ï†úÍ±∞!.!

# ü§™

In [2]:
socar = socar_raw.copy()

# Encoding
- re-Labeling
- OneHot

In [3]:
socar.columns

Index(['fraud_YN', 'x1', 'x2', 'x3', 'x4', 'x5', 'x6', 'x7', 'x8', 'x9', 'x10',
       'x11', 'x12', 'x13', 'x14', 'x15', 'x16', 'x17', 'x18', 'x19', 'x20',
       'x21', 'x22', 'x23', 'x24'],
      dtype='object')

In [4]:
relabel = ['x6', 'x12', 'x21', 'x13', 'x23']

In [5]:
onehot = ['x1', 'x3', 'x11', 'x13', 'x16', 'x20']

### 1. re-labeling
- ÎùºÎ≤®Í≥º ÎÇ¥Ïö©Ïùò ÏàúÏÑúÍ∞Ä Ïù¥Ïñ¥ÏßÄÏßÄ ÏïäÏïÑÏÑú re-labeling ÏßÑÌñâ

In [6]:
relabel

['x6', 'x12', 'x21', 'x13', 'x23']

In [7]:
df_relabel = socar[relabel]
df_relabel

       x6  x12  x21  x13  x23
0       0    2    0    4   -1
1       0    4    1    4    0
2       0    4    1    6    0
3       0    3    0    5   -1
4       0    1    0    1   -1
...    ..  ...  ...  ...  ...
15995   0    1    0    1   -1
15996   0    2    0    6   -1
15997   0    3    0    5   -1
15998   0    1    0    2   -1
15999   0    5    0    6   -1

[16000 rows x 5 columns]

In [8]:
# Î≥ÄÍ≤Ω Ï†Ñ
df_relabel['x6'].value_counts()

0    15895
2      105
Name: x6, dtype: int64

In [9]:
# Î≥ÄÍ≤Ω ÌõÑ
mapping_value = {2:1}
df_relabel = df_relabel.replace({'x6': mapping_value})
df_relabel['x6'].value_counts()

0    15895
1      105
Name: x6, dtype: int64

In [10]:
# Î≥ÄÍ≤Ω Ï†Ñ
df_relabel['x12'].value_counts()

1    5727
3    4858
2    3234
4    1605
5     576
Name: x12, dtype: int64

In [11]:
# Î≥ÄÍ≤Ω ÌõÑ
mapping_value = {5:0, 2:3, 3:4, 4:5}
df_relabel = df_relabel.replace({'x12': mapping_value})
df_relabel['x12'].value_counts()

1    5727
4    4858
3    3234
5    1605
0     576
Name: x12, dtype: int64

In [12]:
# Î≥ÄÍ≤Ω Ï†Ñ
df_relabel['x21'].value_counts()

0    11325
1     3598
2     1077
Name: x21, dtype: int64

In [13]:
# Î≥ÄÍ≤Ω ÌõÑ
mapping_value = {2:0}
df_relabel = df_relabel.replace({'x21': mapping_value})
df_relabel['x21'].value_counts()

0    12402
1     3598
Name: x21, dtype: int64

In [14]:
# Î≥ÄÍ≤Ω Ï†Ñ
df_relabel['x13'].value_counts()

 2    4337
 1    3727
 6    3680
 5    2752
 4    1094
 3     374
-1      36
Name: x13, dtype: int64

In [15]:
# Î≥ÄÍ≤Ω ÌõÑ
mapping_value = {-1:0}
df_relabel = df_relabel.replace({'x13': mapping_value})
df_relabel['x13'].value_counts()

2    4337
1    3727
6    3680
5    2752
4    1094
3     374
0      36
Name: x13, dtype: int64

In [16]:
# Î≥ÄÍ≤Ω Ï†Ñ
df_relabel['x23'].value_counts()

-1    11358
 0     1997
 1     1804
 2      502
 3      222
 4       91
 5       26
Name: x23, dtype: int64

In [17]:
# Î≥ÄÍ≤Ω ÌõÑ
mapping_value = {-1:0, 0:1, 1:2, 2:3, 3:4, 4:5}
df_relabel = df_relabel.replace({'x23': mapping_value})
df_relabel['x23'].value_counts()

0    11358
1     1997
2     1804
3      502
4      222
5      117
Name: x23, dtype: int64

In [18]:
df_relabel

       x6  x12  x21  x13  x23
0       0    3    0    4    0
1       0    5    1    4    1
2       0    5    1    6    1
3       0    4    0    5    0
4       0    1    0    1    0
...    ..  ...  ...  ...  ...
15995   0    1    0    1    0
15996   0    3    0    6    0
15997   0    4    0    5    0
15998   0    1    0    2    0
15999   0    0    0    6    0

[16000 rows x 5 columns]

In [19]:
socar_relabel = socar.copy()

In [20]:
# Îç∞Ïù¥ÌÑ∞ ÍµêÏ≤¥ÌïòÍ∏∞
socar_relabel = socar_relabel.drop(columns=relabel)
socar_relabel = pd.concat((socar_relabel, df_relabel), axis=1)

In [21]:
socar_relabel

,fraud_YN,x1,x2,x3,x4,x5,x7,x8,x9,x10,...,x18,x19,x20,x22,x24,x6,x12,x21,x13,x23
0,0,2,1,3,0,2,100,2,0,0,...,0,1,0,0,0,0,3,0,4,0
1,0,1,0,4,0,4,0,3,1,0,...,1,2,1,1,1,0,5,1,4,1
2,0,1,0,4,1,4,100,3,1,0,...,0,2,1,1,1,0,5,1,6,1
3,0,3,1,3,0,4,0,2,0,0,...,0,1,0,0,0,0,4,0,5,0
4,0,1,0,1,0,1,100,1,0,0,...,0,2,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15995,0,2,0,2,0,2,100,2,0,0,...,0,1,0,0,0,0,1,0,1,0
15996,0,2,0,2,1,4,100,1,1,0,...,0,1,0,0,0,0,3,0,6,0
15997,0,2,1,2,0,4,100,1,0,0,...,0,1,0,0,1,0,4,0,5,0
15998,0,2,0,2,0,2,100,2,0,0,...,0,1,0,0,0,0,1,0,2,0
15999,0,2,0,2,0,1,100,1,0,0,...,0,1,0,0,0,0,0,0,6,0

#### train, test Î∂ÑÎ¶¨

In [23]:
train = socar_relabel[socar_relabel['x24']==0]
train.drop(columns=['x24'], inplace=True)
test = socar_relabel[socar_relabel['x24']==1]
test.drop(columns=['x24'], inplace=True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [24]:
train.reset_index(drop=True, inplace=True)
test.reset_index(drop=True, inplace=True)

In [26]:
train

,fraud_YN,x1,x2,x3,x4,x5,x7,x8,x9,x10,...,x17,x18,x19,x20,x22,x6,x12,x21,x13,x23
0,0,2,1,3,0,2,100,2,0,0,...,0,0,1,0,0,0,3,0,4,0
1,0,3,1,3,0,4,0,2,0,0,...,1,0,1,0,0,0,4,0,5,0
2,0,1,0,1,0,1,100,1,0,0,...,0,0,2,0,0,0,1,0,1,0
3,1,1,1,3,0,4,100,3,0,0,...,0,0,1,1,1,0,4,0,1,3
4,0,2,0,4,0,4,0,1,0,0,...,0,0,1,1,1,0,3,1,6,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12874,0,2,0,3,1,4,100,1,0,0,...,0,0,1,0,0,0,1,0,4,0
12875,0,2,0,2,0,2,100,2,0,0,...,1,0,1,0,0,0,1,0,1,0
12876,0,2,0,2,1,4,100,1,1,0,...,1,0,1,0,0,0,3,0,6,0
12877,0,2,0,2,0,2,100,2,0,0,...,1,0,1,0,0,0,1,0,2,0
12878,0,2,0,2,0,1,100,1,0,0,...,0,0,1,0,0,0,0,0,6,0

In [25]:
test

,fraud_YN,x1,x2,x3,x4,x5,x7,x8,x9,x10,...,x17,x18,x19,x20,x22,x6,x12,x21,x13,x23
0,0,1,0,4,0,4,0,3,1,0,...,1,1,2,1,1,0,5,1,4,1
1,0,1,0,4,1,4,100,3,1,0,...,1,0,2,1,1,0,5,1,6,1
2,0,2,1,3,0,1,100,1,0,1,...,1,0,1,1,1,0,3,1,6,1
3,0,3,1,3,0,4,100,3,1,0,...,0,0,1,1,1,0,3,1,1,2
4,0,2,0,4,0,4,100,1,0,1,...,1,0,1,0,0,0,1,0,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3116,0,1,0,2,0,4,100,3,0,0,...,0,0,1,1,1,0,1,1,6,2
3117,0,2,0,1,0,4,100,3,0,0,...,1,0,1,0,0,0,1,0,6,0
3118,0,2,0,2,0,1,100,1,0,0,...,0,0,1,1,1,0,3,1,2,2
3119,0,2,0,2,0,2,100,3,0,0,...,0,0,2,0,0,0,4,0,1,0
3120,0,2,1,2,0,4,100,1,0,0,...,0,0,1,0,0,0,4,0,5,0

### 2. OneHotEncoder()
- Í∏∞Ï°¥Ïóê ÎùºÎ≤®ÎßÅ ÎêòÏñ¥ÏûàÎäî Î≥ÄÏàòÎì§ Ï§ëÏóê ÏàúÏÑúÍ∞Ä ÏóÜÎäî Î≥ÄÏàòÎäî ÏõêÌï´Ïù∏ÏΩîÎî© ÏßÑÌñâ

In [27]:
# ÏõêÌï´Ïù∏ÏΩîÎî©Ìï† Î≥ÄÏàò
onehot

['x1', 'x3', 'x11', 'x13', 'x16', 'x20']

In [28]:
# train

In [29]:
df_onehot_train = train[onehot]
df_onehot_train

       x1  x3  x11  x13  x16  x20
0       2   3    4    4    1    0
1       3   3    3    5    3    0
2       1   1    1    1    1    0
3       1   3    6    1    0    1
4       2   4    4    6    1    1
...    ..  ..  ...  ...  ...  ...
12874   2   3    4    4    0    0
12875   2   2    1    1    1    0
12876   2   2    5    6    2    0
12877   2   2    6    2    4    0
12878   2   2    6    6    2    0

[12879 rows x 6 columns]

In [30]:
# 33Í∞ú ÏÉùÍ∏¥Îã§

In [31]:
from sklearn.preprocessing import OneHotEncoder

enc = OneHotEncoder(handle_unknown='ignore', sparse=False)
enc.fit(df_onehot_train)
df_onehot_train = pd.DataFrame(data=enc.transform(df_onehot_train), columns=enc.get_feature_names(onehot), dtype=bool)
# trasfer true and false to 1 and 0
df_onehot_train = df_onehot_train * 1

In [32]:
df_onehot_train

,x1_1,x1_2,x1_3,x1_4,x1_5,x3_1,x3_2,x3_3,x3_4,x3_5,...,x16_0,x16_1,x16_2,x16_3,x16_4,x16_5,x20_0,x20_1,x20_2,x20_3
0,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,1,0,0,0
1,0,0,1,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
2,1,0,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
3,1,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,1,0,0
4,0,1,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12874,0,1,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,1,0,0,0
12875,0,1,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,1,0,0,0
12876,0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0
12877,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,0
12878,0,1,0,0,0,0,1,0,0,0,...,0,0,1,0,0,0,1,0,0,0

In [33]:
df_onehot_train.columns, len(df_onehot_train.columns)

(Index(['x1_1', 'x1_2', 'x1_3', 'x1_4', 'x1_5', 'x3_1', 'x3_2', 'x3_3', 'x3_4',
        'x3_5', 'x11_1', 'x11_2', 'x11_3', 'x11_4', 'x11_5', 'x11_6', 'x13_0',
        'x13_1', 'x13_2', 'x13_3', 'x13_4', 'x13_5', 'x13_6', 'x16_0', 'x16_1',
        'x16_2', 'x16_3', 'x16_4', 'x16_5', 'x20_0', 'x20_1', 'x20_2', 'x20_3'],
       dtype='object'),
 33)

In [34]:
# Îç∞Ïù¥ÌÑ∞ Ìï©ÏπòÍ∏∞
train_encode = pd.concat((train, df_onehot_train), axis=1)
train_encode = train_encode.drop(columns=onehot)

In [35]:
train_encode.columns, len(train_encode.columns)

(Index(['fraud_YN', 'x2', 'x4', 'x5', 'x7', 'x8', 'x9', 'x10', 'x14', 'x15',
        'x17', 'x18', 'x19', 'x22', 'x6', 'x12', 'x21', 'x23', 'x1_1', 'x1_2',
        'x1_3', 'x1_4', 'x1_5', 'x3_1', 'x3_2', 'x3_3', 'x3_4', 'x3_5', 'x11_1',
        'x11_2', 'x11_3', 'x11_4', 'x11_5', 'x11_6', 'x13_0', 'x13_1', 'x13_2',
        'x13_3', 'x13_4', 'x13_5', 'x13_6', 'x16_0', 'x16_1', 'x16_2', 'x16_3',
        'x16_4', 'x16_5', 'x20_0', 'x20_1', 'x20_2', 'x20_3'],
       dtype='object'),
 51)

In [36]:
# test

In [37]:
df_onehot_test = test[onehot]
df_onehot_test

      x1  x3  x11  x13  x16  x20
0      1   4    1    4    1    1
1      1   4    1    6    3    1
2      2   3    6    6    1    1
3      3   3    6    1    2    1
4      2   4    5    5    2    0
...   ..  ..  ...  ...  ...  ...
3116   1   2    5    6    0    1
3117   2   1    6    6    4    0
3118   2   2    6    2    0    1
3119   2   2    1    1    4    0
3120   2   2    1    5    0    0

[3121 rows x 6 columns]

In [38]:
df_onehot_test = pd.DataFrame(data=enc.transform(df_onehot_test), columns=enc.get_feature_names(onehot), dtype=bool)
df_onehot_test = df_onehot_test * 1

In [39]:
df_onehot_test

,x1_1,x1_2,x1_3,x1_4,x1_5,x3_1,x3_2,x3_3,x3_4,x3_5,...,x16_0,x16_1,x16_2,x16_3,x16_4,x16_5,x20_0,x20_1,x20_2,x20_3
0,1,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,1,0,0
1,1,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,1,0,0
2,0,1,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,1,0,0
3,0,0,1,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,1,0,0
4,0,1,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3116,1,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3117,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,1,0,0,0
3118,0,1,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0
3119,0,1,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,1,0,0,0
3120,0,1,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [40]:
# Îç∞Ïù¥ÌÑ∞ Ìï©ÏπòÍ∏∞
test_encode = pd.concat((test, df_onehot_test), axis=1)
test_encode = test_encode.drop(columns=onehot)

In [41]:
test_encode.columns, len(test_encode.columns)

(Index(['fraud_YN', 'x2', 'x4', 'x5', 'x7', 'x8', 'x9', 'x10', 'x14', 'x15',
        'x17', 'x18', 'x19', 'x22', 'x6', 'x12', 'x21', 'x23', 'x1_1', 'x1_2',
        'x1_3', 'x1_4', 'x1_5', 'x3_1', 'x3_2', 'x3_3', 'x3_4', 'x3_5', 'x11_1',
        'x11_2', 'x11_3', 'x11_4', 'x11_5', 'x11_6', 'x13_0', 'x13_1', 'x13_2',
        'x13_3', 'x13_4', 'x13_5', 'x13_6', 'x16_0', 'x16_1', 'x16_2', 'x16_3',
        'x16_4', 'x16_5', 'x20_0', 'x20_1', 'x20_2', 'x20_3'],
       dtype='object'),
 51)

In [42]:
# re-label, OneHot ÏôÑÎ£å
train_encode.to_csv('datas/train_encode_ver2.csv')
test_encode.to_csv('datas/test_encode_ver2.csv')

# Î∂àÎü¨Ïò¨ Îïåü§™

In [43]:
train = pd.read_csv('datas/train_encode_ver2.csv', index_col=0)
test = pd.read_csv('datas/test_encode_ver2.csv', index_col=0)

In [44]:
# ÎÇòÎàåÎïê Ïù¥Î†áÍ≤å ÎÇòÎà†ÏÑú Ïì∞Î©¥ ÎêòÏßÄÎ°±
X_train = train.drop(columns=['fraud_YN'])
X_test = test.drop(columns=['fraud_YN'])
y_train = train.fraud_YN
y_test = test.fraud_YN